APPRISE_URL=http://localhost:8000
HEALTHCHECKS_IO_SLUG=e2654249-76b7-42d0-a292-3d5e993a4243
# Optional, defaults to ./config.json
CONFIG_PATH=config.json
# Any variables referenced as ${VAR} in the config file, e.g.:
GOTIFY_APP_TOKEN=skl4kmsdvl34
